{# templates/backoffice/workshop_cat/table.html.twig #}

<div class="table-responsive">
	<table id="dt_workshop_cat" class="table table-striped table-bordered table-hover width-99p">
		<thead class="thead-dark">
			<tr>
				<th>{{ 'name' | trans }}</th>
				<th>{{ 'color' | trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for cat in workshop_cat %}
				<tr>
					<td>{{ cat.name }}</td>
					<td>{{ cat.color }}</td>
					<td>
						<div class="{#width-75#} text-right">
							<a href="{{ path('workshop_cat_edit', {'id' : cat.id}) }}" class="btn btn-sm btn-edit">
								<i class="far fa-edit"></i>
							</a>

							<a href="javascript:void(0);" class="btn btn-sm btn-delete"
								onclick="if(confirm('{{ 'confirm.delete' | trans }}')){window.location.href = '{{ path('workshop_cat_delete', {'id' : cat.id}) }}'}">
								<i class="fas fa-times"></i>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
