{% extends 'backoffice/base/base.html.twig' %}

{% block body %}


<div class="membership__btns">
	<a href="{{ path('membership_asso_dashboard')}}">Retour</a>
	<a onclick="if(confirm('{{ 'confirm.delete' | trans }}')){window.location.href = '{{ path('membership_asso_delete', {'id' : membership_asso.id}) }}'}">Supprimer la demande</a>
</div>


<ul class="membership__uls">
	<li>
		<h3>{{'creation_date' | trans }} :</h3>
		<p>{{membership_asso.dateCreation | date("d/m/Y")}}</p>
	</li>
	<li>
		<h3>{{'name_asso' | trans}} :</h3>
		<p>{{membership_asso.nameAsso}}</p>
	</li>

	<li>
		<h3>{{'address_asso' | trans}} :</h3>
		<p>{{membership_asso.addressAsso}}</p>
	</li>

	<li>
		<h3>{{'name_president' | trans}} :</h3>
		<p>{{membership_asso.namePresident}}</p>

	</li>

	<li>
		<h3>{{'mail_president' | trans }} :</h3>
		<p>{{membership_asso.mailPresident}}</p>

	</li>

	<li>
		<h3>{{'tel_president' | trans }} :</h3>
		<p>{{membership_asso.telPresident}}</p>

	</li>

	<li>
		<h3>{{'name_contact' | trans }} :</h3>
		<p>{{membership_asso.nameContact}}</p>

	</li>

	<li>
		<h3>{{'position_contact' | trans }} :</h3>
		<p>{{membership_asso.positionContact}}</p>
	
	</li>

	<li>
		<h3>{{'mail_contact' | trans }} :</h3>
		<p>{{membership_asso.mailContact}}</p>

	</li>

	<li>
		<h3>{{'tel_contact' | trans }} :</h3>
		<p>{{membership_asso.telContact}}</p>
	
	</li>

</ul>


{% endblock %}
