{# templates/website/membership/membershipAsso.html.twig #}
{% extends "website/base.html.twig" %}

{% block title %}Adhésions Association{% endblock %}

{% block body %}


<div class="container form__membership">
	<div class="row">
		<div class="col">
			<div class="form">
				<section class="form__header">
					<img src="/website/Assets/logo.png" alt="Logo de La Marguerite">
					<h2>Formulaire d'adhésion</h2>
					<h4 class="form__alert"></h4>
				</section>

				<section class="form__content">
					{{ form_start(form) }}
					{{ form_errors(form) }}

					{# Add.Mode #}


					<div class="row form-group">
						<label class="col-md-2 col-form-label required">
							{{ 'name_asso' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
						</label>
						<div class="col-md-10">{{ form_widget(form.name_asso) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.name_asso) }}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-md-2 col-form-label required">
							{{ 'address_asso' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
						</label>
						<div class="col-md-10">{{ form_widget(form.address_asso) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.address_asso) }}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-md-2 col-form-label required">
							{{ 'name_president' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
						</label>
						<div class="col-md-10">{{ form_widget(form.name_president) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.name_president) }}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-md-2 col-form-label required">
							{{ 'mail_president' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
						</label>
						<div class="col-md-10">{{ form_widget(form.mail_president) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.mail_president) }}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-md-2 col-form-label required">
							{{ 'tel_president' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
						</label>
						<div class="col-md-10">{{ form_widget(form.tel_president) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.tel_president) }}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-md-2 col-form-label ">
							{{ 'name_contact' | trans }}
						</label>
						<div class="col-md-10">{{ form_widget(form.name_contact) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.name_contact) }}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-md-2 col-form-label ">
							{{ 'position_contact' | trans }}
						</label>
						<div class="col-md-10">{{ form_widget(form.position_contact) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.position_contact) }}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-md-2 col-form-label ">
							{{ 'mail_contact' | trans }}
						</label>
						<div class="col-md-10">{{ form_widget(form.mail_contact) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.mail_contact) }}
						</div>
					</div>

					<div class="row form-group">
						<label class="col-md-2 col-form-label ">
							{{ 'tel_contact' | trans }}
						</label>
						<div class="col-md-10">{{ form_widget(form.tel_contact) }}</div>
						<div class="form_errors col-md-10 offset-md-2">
							{{ form_errors(form.tel_contact) }}
						</div>
					</div>


					<div class="row form-group">
						<div class="col">
							<p>Afin de valider définitivement votre adhésion à La Marguerite , merci de nous faire parvenir votre règlement d'un montant minimum de 40 € :</p>
							<ul class="form__buy">
								<li><img src="/website/Assets/dot-li.svg" alt="icon de style de liste">Par chèque bancaire à l’ordre de la Marguerite.</li>
								<li><img src="/website/Assets/dot-li.svg" alt="icon de style de liste">Par virement : RIB - FR76 1090 7002 6546 0218 1051 083 ; BIC - CCBPFRPPBDX</li>
								<li><img src="/website/Assets/dot-li.svg" alt="icon de style de liste">En espèce, directement au siège de l'association.</li>
							</ul>
						</div>
					</div>

					


					<hr>


					<div class="row form-group form__legal">
						<div class="col">
							<p>
								En validant ce formulaire, vous attestez être en accord avec notre <a href="{{path('legal')}}">politique RGPD</a>.
							</p>
						</div>
					</div>

					<div class="row form-group">
						<div class="col-12">
							<div class="btn-group w-100">
								<input type="submit" class="btn btn-form-validation w-70" value="{{ 'validate' | trans }}" />
							</div>
						</div>
					</div>

					<div class="row form-group form__priseContact">
						<div class="col">
							<p>
								Suite à l'envoi de votre formulaire, nous prendrons contact avec vous.
							</p>
						</div>
					</div>

					{{ form_end(form) }}
				</section>
			</div>
		</div>
	</div>
</div>





{% endblock %}