{# templates/backoffice/pathology/dashboard.html.twig #}

{% extends 'backoffice/base/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'pathologys' | trans }}{% endblock %}

{% block body %}

<div class="row">
	<div class="col">

		<div class="card card-warning card-outline">

			<div class="card-header">
				<h3 class="card-title">{{ 'pathology' | trans }}</h3>

				<div class="card-tools">

					<a href="{{ path('pathology_add') }}" class="btn btn-tool">
						<i class="fas fa-plus"></i>
					</a>

				</div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col">
						{{ include('backoffice/pathology/table.html.twig') }}
					</div>
				</div>
				
			</div>
		</div>

	</div>
</div>


{% endblock %}

{% block scripts %}

<script>
$(document).ready(function(){
	var colName = 0;
	var colDescription = 1;
	var colAction = 2;

	var table = $('#dt_employees').DataTable({
		"paging" : true,
		"info" : true,
		"searching": true,
		"responsive": true,
		"pageLength": 100,
		"order": [[colName, 'desc']],
		"columnDefs":[
			{ "targets": colAction, "orderable": false }
		]
	});
});
</script>
{% endblock %}
