{% extends "website/base.html.twig" %}

{% block title %}Associations Adhérentes{% endblock %}

{% block body %}


<div class="container members">
	<div class="row">
		<div class="col">
			<div class="members__link">
				<p>Je suis une association | <a href="{{path('adhesion_asso')}}">Adhérer à La Marguerite.</a> </p>
			</div>
		</div>
	</div>
	<div class="row">
		{% for members in members_asso %}
			<div class="col-12 col-lg-6 col-xl-4">
				<div class="members__inner">
					{% if members.img == null %}
						<img src="/website/Assets/asso-skeleton.png" alt="logo de {{members.name}}">
					{% else %}
						<img src="/assets/images/{{members.img.id}}.{{members.img.extension}}" alt="logo de {{members.name}}">
					{% endif %}

					<h3>{{ members.name }}</h3>
					<p>{{ members.description }}</p>
				</div>
			</div>
		{% endfor %}
	</div>

</div>



{% endblock %}

{% block javascripts %}
{% endblock %}