<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
		<meta name="description" content="La Marguerite est une association qui soutient les patients atteints de maladies chroniques, ainsi que les personnes aidantes. Nous valorisons l'expérience des patients.">
		<meta name="keywords" content="association, limoges, landouge, patients, malades, chronique, soutient, aidants, ateliers, détente, bien-être, santé, nutrition, prévention, accompagnement, aide">
		<meta name="robots" content="index, follow">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="author" content="La Marguerite">
		<link rel="canonical" href="https://www.lamargueriteasso.com">

		<meta property="og:title" content="La Marguerite">
		<meta property="og:description" content="La Marguerite est une association qui soutient les malades chroniques & aidants.">
		<meta property="og:url" content="https://www.lamargueriteasso.com">
		<meta property="og:type" content="website">


        <title>La Marguerite - {{ block('title') }}</title>





        <link rel="icon" href="/website/Assets/logo.png">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
        <link rel="stylesheet" href="/website/main.css">

        
    </head>
    <body>

        <!-- Header -->    
        
        <nav class="header fixed-top">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-2">

                        <img class="header__logo" src="/website/Assets/logo_sans_fond.png" alt="Logo de la marguerite">
                        
                    </div>

                    <div class="col-10 d-flex align-items-end">

                        <input type="checkbox" id="burger" class="header__burger">
                        <label for="burger" class="mb-0 header__burger-icon">☰</label>
                        <div id="menu" class="header__menu">
                            <ul>
								{% if app.request.get('_route') == 'home' %}
                                <li class="selected"><a href="/">Accueil</a></li>
								{% else %}
                                <li><a href="/">Accueil</a></li>
								{% endif %}

								{% if app.request.get('_route') == 'missions' %}
                                <li class="selected"><a href="/missions">Nos missions</a></li>
								{% else %}
                                <li><a href="/missions">Nos missions</a></li>
								{% endif %}

								{% if app.request.get('_route') == 'adherents' %}
                                <li class="selected"><a href="/adherents">Associations Adhérentes</a></li>
								{% else %}
                                <li><a href="/adherents">Associations Adhérentes</a></li>
								{% endif %}

								{% if app.request.get('_route') == 'ateliers' %}
                                <li class="selected"><a href="/ateliers">Ateliers</a></li>
								{% else %}
                                <li><a href="/ateliers">Ateliers</a></li>
								{% endif %}

								{% if app.request.get('_route') == 'actualites' %}
                                <li class="selected"><a href="/actualites">Actualités</a></li>
								{% else %}
                                <li><a href="/actualites">Actualités</a></li>
								{% endif %}

								{% if app.request.get('_route') == 'adhesions' %}
                                <li class="selected"><a href="/adhesions">Adhésion & dons</a></li>
								{% else %}
                                <li><a href="/adhesions">Adhésion & dons</a></li>
								{% endif %}

								{% if app.request.get('_route') == 'contact' %}
                                <li class="selected"><a href="/contact">Contact</a></li>
								{% else %}
                                <li><a href="/contact">Contact</a></li>
								{% endif %}

                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </nav>

        

		
		<main class="main">

        <!-- Background IMGs -->
    
            <img class="bg__top" src="/website/Assets/bg-top.svg" alt="Image de fond haut">
            {# <img class="bg__bottom" src="/website/Assets/bg-btm.svg" alt="Image de fond bas"> #}

			{% if app.request.get('_route') == 'home' %}

				{% if notification %}

					<div id="notification" class="container notification">
						<label for="notification_cross">X</label>
						<input type="checkbox" id="notification_cross">
						<div class="row">
							<div class="col">
								<div class="notification__inner">
									<h2 id="notification_title">{{notification.title}}</h2>
									<p id="notification_text">{{notification.text}}</p>
								</div>
							</div>
						</div>
					</div>

			{% else %}

			{% endif %}

			{% endif %}
    
    
			<h1>La Marguerite - <strong>{{ block('title') }} </strong></h1>
		
			{% block body %}
			{% endblock %}


    	</main>
		


    <!-- Footer -->

        <footer class="footer">

            <div class="container footer__haut">
                <div class="row">
        
                    <div class="col-4">
                        <ul>
                            <li><h3>Centre Associatif</h3></li>
                            <li><h4>Pour les malades & leurs aidants.</h4></li>
                            <li><h4>Reconnu d'utilité publique.</h4></li>
                            <li><h4><a href="/legal" class="footer__legal">Mentions légales</a></h4></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li><h3>Prendre Contact</h3></li>
                            <li><h4>La Marguerite&#8203; 95 rue Abbé Pierre&#8203; 87100 Limoges.</h4></li>
                            <li><h4>Mail : contact@&#8203;lamargueriteasso&#8203;.fr</h4></li>
                            <li><h4>Tel : 05 55 01 35 94</h4></li>
                        </ul>
                    </div>
                    <div class="col-4">
                        <ul>
                            <li><h3>Nos Réseaux</h3></li>
                            <li><a href="https://www.facebook.com/LaMargueriteAsso"><img src="/website/Assets/facebook.png" alt="Logo de Facebook"><h4>LaMarguerite&#8203;Asso</h4></a></li>
                            <li><a href="https://www.linkedin.com/company/lamarguerite/"><img src="/website/Assets/linkedin.png" alt="Logo de Linkedin"><h4>La Marguerite</h4></a></li>
                            <li><a href="https://www.youtube.com/channel/UC0qMyPw3YZ_N-wYHXkeC1jg"><img src="/website/Assets/youtube.png" alt="Logo de Youtube"><h4>La Marguerite</h4></a></li>
        
                        </ul>
                    </div>
        
                </div>
            </div>
        
            <div class="container footer__bas">
        
                <div class="row">
                    
                    <div class="col-12 footer__carrousel">
                        <h3>La Marguerite remercie ses Financeurs</h3>
                        <div id="carouselExample" class="owl-carousel owl-theme footer__carrouselInner">

							{% for partner in partners %}
								<div class="item">
									<a href="{{partner.url}}"><img src="/assets/images/{{partner.img.id}}.{{partner.img.extension}}" class="d-block w-100" alt="logo de {{partner.name}}"></a>
								</div>
							{% endfor %}
                            
                            <!-- Ajoutez plus d'items de carrousel ici -->
                        </div>
                    </div>
        
                </div>
        
            </div>

        </footer>
        

        


        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>


		

		<script>

		{# Carousel footer #}
		$(document).ready(function(){
			$("#carouselExample").owlCarousel({
				items: 3,
				loop: true,
				margin: 0,
				dots : false,
				nav: true,
				navText: ["<div class='nav-btn prev-slide'></div>", "<div class='nav-btn next-slide'></div>"],
				slideBy: 1, // Nombre d'items à déplacer lors de la navigation
				autoplay: true, // Active le défilement automatique
				autoplayTimeout: 3000, // Définit le délai de défilement automatique à 2 secondes
				responsive: {
					0: {
						items: 1
					},
					600: {
						items: 3
					},
					1000: {
						items: 3
					}
				}
			});
		});


		{# Responsive Header #}
		$(window).scroll(function() {
			var header = $('.header');
			header.toggleClass('sticky', $(window).scrollTop() >= 50);
		});



		{# Cookie #}

		function setCookie(name, value, days) {
			const date = new Date();
			date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
			const expires = "expires=" + date.toUTCString();
			document.cookie = name + "=" + value + ";" + expires + ";path=/";
		}

		function getCookie(name) {
			const nameEQ = name + "=";
			const ca = document.cookie.split(';');
			for (let i = 0; i < ca.length; i++) {
				let c = ca[i];
				while (c.charAt(0) == ' ') c = c.substring(1, c.length);
				if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
			}
			return null;
		}

		function deleteCookie(name) {
			document.cookie = name + '=; Max-Age=0; path=/';
		}

		
		</script>

		{% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
