{{ form_start(form) }}


<div class="contact__form">
	{{ form_errors(form) }}
	<h2>Nous contacter</h2>
	<ul>
		<li>
			<label >{{'firstname' | trans}}</label>
			<div class="">{{ form_widget(form.firstname) }}</div>
			<div class="form_errors">
				{{ form_errors(form.firstname) }}
			</div>
		</li>
		<li>
			<label >{{'lastname' | trans}}</label>
			<div class="">{{ form_widget(form.lastname) }}</div>
			<div class="form_errors">
				{{ form_errors(form.lastname) }}
			</div>
		</li>
		<li>
			<label >{{'email' | trans}}</label>
			<div class="">{{ form_widget(form.email) }}</div>
			<div class="form_errors">
				{{ form_errors(form.email) }}
			</div>
		</li>
		<li>
			<label >{{'phone' | trans}}</label>
			<div class="">{{ form_widget(form.phone) }}</div>
			<div class="form_errors">
				{{ form_errors(form.phone) }}
			</div>
		</li>
		<li>
			<label >{{'message' | trans}}</label>
			<div class="">{{ form_widget(form.message) }}</div>
			<div class="form_errors">
				{{ form_errors(form.message) }}
			</div>
		</li>
	</ul>
	<p class="contact__legal">En envoyant ce formulaire, vous attestez d'être en accord avec notre <a href="{{path('legal')}}">politique RGPD</a>.</p>
	<input class="contact__btn button" type="submit" value="Envoyer">
</div>


{{ form_end(form) }}