{# templates/backoffice/login/login.html.twig #}

{% extends 'backoffice/base/base_login.html.twig' %}

{% block title %}Axiom Login{% endblock %}

{% block body %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<div class="login-box">

    <div class="card card-outline card-warning">
        <div class="card-header text-center">
            <a href="../../index2.html" class="h1"><b>Axiom.</b>Ploop</a>
        </div>
        <div class="card-body">
            <p class="login-box-msg">
                {{ 'login.please.sing.in' | trans }}
            </p>

            <form action="{{ path('login') }}" method="post">

                <div class="input-group mb-3">
                    <input id="username" name="_username" value="{{ last_username }}" type="email" class="form-control" placeholder="{{ 'email.address' | trans }}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>

                <div class="input-group mb-3">
                    <input id="password" name="_password" type="password" class="form-control" placeholder="{{ 'password' | trans }}">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>

                {# If you want to control the URL the user is redirected to on success #}
                <input type="hidden" name="_target_path" value="{{ path('dashboard') }}" />
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-warning btn-block">{{ 'sign.in' | trans }}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
