{# templates/backoffice/event/form.html.twig #}

{{ form_start(form) }}
{{ form_errors(form) }}

{# Add.Mode #}
<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'title' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.title) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.title) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'description' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.description) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.description) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'place' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.place) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.place) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'date' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.date) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.date) }}
	</div>
</div>



<hr>

<div class="row form-group">
	<div class="col-12">
		<div class="btn-group w-100">
			<a href="{{ path('event_dashboard') }}" class="btn btn-form-cancellation w-30">
				{{ 'cancel' | trans }}
			</a>
			<input type="submit" class="btn btn-form-validation w-70" value="{{ 'validate' | trans }}" />
		</div>
	</div>
</div>

{{ form_end(form) }}
