{# templates/backoffice/event/table.html.twig #}

<div class="table-responsive">
	<table id="dt_events" class="table table-striped table-bordered table-hover width-99p">
		<thead class="thead-dark">
			<tr>
				<th>{{ 'title' | trans }}</th>
				<th>{{ 'date' | trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for ev in event %}
				<tr>
					<td>{{ ev.title }}</td>
					<td>{{ ev.date | date('Y-m-d') }}</td>
					<td>
						<div class="{#width-75#} text-right">
							<a href="{{ path('event_edit', {'id' : ev.id}) }}" class="btn btn-sm btn-edit">
								<i class="far fa-edit"></i>
							</a>

							<a href="javascript:void(0);" class="btn btn-sm btn-delete"
								onclick="if(confirm('{{ 'confirm.delete' | trans }}')){window.location.href = '{{ path('event_delete', {'id' : ev.id}) }}'}">
								<i class="fas fa-times"></i>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
