{# templates/backoffice/partner/form.html.twig #}


{% if role == "admin" %}
	{{dump(form)}}


	{{ form_start(form) }}
	{{ form_errors(form) }}




	<div class="row form-group">
		<label class="col-md-2 col-form-label required">
			{{ 'firstname' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.firstname) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.firstname) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label required">
			{{ 'lastname' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.lastname) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.lastname) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'birthdate' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.birthdate) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.birthdate) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'email' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.email) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.email) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'phone' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.phone) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.phone) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'address' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.address) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.address) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'gender' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.gender) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.gender) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'pathology' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.pathology) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.pathology) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'origin' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.origin) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.origin) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'mobility' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.mobility) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.mobility) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'followUp' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.followUp) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.followUp) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'leftDate' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.leftDate) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.leftDate) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'imgLaw' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.imgLaw) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.imgLaw) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'job' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.job) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.job) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'situation' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.situation) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.situation) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'nbrChildren' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.nbrChildren) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.nbrChildren) }}
		</div>
	</div>


	
	{% if action == "edit" %}
		<h2>Informations Diététicien(ne)</h2>

		<div class="row form-group">
			<label class="col-md-2 col-form-label">{{ 'workHours' | trans }}</label>
			<div class="col-md-10">{{ form_widget(form.patientDiet.workHours) }}</div>
			<div class="form_errors col-md-10 offset-md-2">{{ form_errors(form.patientDiet.workHours) }}</div>
		</div>


		<h2>Informations Sophrologue</h2>

		<div class="row form-group">
			<label class="col-md-2 col-form-label">{{ 'health' | trans }}</label>
			<div class="col-md-10">{{ form_widget(form.patientSophro.health) }}</div>
			<div class="form_errors col-md-10 offset-md-2">{{ form_errors(form.patientSophro.health) }}</div>
		</div>

	{% endif %}

	<hr>

	<div class="row form-group">
		<div class="col-12">
			<div class="btn-group w-100">
				<a href="{{ path('patient_dashboard') }}" class="btn btn-form-cancellation w-30">
					{{ 'cancel' | trans }}
				</a>
				<input type="submit" class="btn btn-form-validation w-70" value="{{ 'validate' | trans }}" />
			</div>
		</div>
	</div>

	{{ form_end(form) }}


{% endif %}

{% if role == "sophro" %}
	{{dump(form)}}


	{{ form_start(form) }}
	{{ form_errors(form) }}




	<div class="row form-group">
		<label class="col-md-2 col-form-label required">
			{{ 'firstname' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.firstname) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.firstname) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label required">
			{{ 'lastname' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.lastname) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.lastname) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'birthdate' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.birthdate) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.birthdate) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'email' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.email) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.email) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'phone' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.phone) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.phone) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'address' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.address) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.address) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'gender' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.gender) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.gender) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'pathology' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.pathology) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.pathology) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'origin' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.origin) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.origin) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'mobility' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.mobility) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.mobility) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'followUp' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.followUp) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.followUp) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'leftDate' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.leftDate) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.leftDate) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'imgLaw' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.imgLaw) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.imgLaw) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'job' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.job) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.job) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'situation' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.situation) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.situation) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'nbrChildren' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.nbrChildren) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.nbrChildren) }}
		</div>
	</div>


	{# Afficher le formulaire PatientDiet si l'utilisateur est en mode édition et qu'il est disponible #}
	{% if action == "edit" %}
		<h2>Informations Sophrologue</h2>

		<div class="row form-group">
			<label class="col-md-2 col-form-label">{{ 'health' | trans }}</label>
			<div class="col-md-10">{{ form_widget(form.patientSophro.health) }}</div>
			<div class="form_errors col-md-10 offset-md-2">{{ form_errors(form.patientSophro.health) }}</div>
		</div>

	{% endif %}

	<hr>

	<div class="row form-group">
		<div class="col-12">
			<div class="btn-group w-100">
				<a href="{{ path('patient_dashboard') }}" class="btn btn-form-cancellation w-30">
					{{ 'cancel' | trans }}
				</a>
				<input type="submit" class="btn btn-form-validation w-70" value="{{ 'validate' | trans }}" />
			</div>
		</div>
	</div>

	{{ form_end(form) }}


{% endif %}

{% if role == "diet" %}
	{{dump(form)}}


	{{ form_start(form) }}
	{{ form_errors(form) }}




	<div class="row form-group">
		<label class="col-md-2 col-form-label required">
			{{ 'firstname' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.firstname) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.firstname) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label required">
			{{ 'lastname' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.lastname) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.lastname) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'birthdate' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.birthdate) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.birthdate) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'email' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.email) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.email) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'phone' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.phone) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.phone) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'address' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.address) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.address) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'gender' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.gender) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.gender) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'pathology' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.pathology) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.pathology) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'origin' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.origin) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.origin) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'mobility' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.mobility) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.mobility) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'followUp' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.followUp) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.followUp) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'leftDate' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.leftDate) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.leftDate) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'imgLaw' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.imgLaw) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.imgLaw) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'job' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.job) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.job) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'situation' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.situation) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.situation) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'nbrChildren' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.patient.nbrChildren) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.patient.nbrChildren) }}
		</div>
	</div>


	{# Afficher le formulaire PatientDiet si l'utilisateur est en mode édition et qu'il est disponible #}
	{% if action == "edit" %}
		<h2>Informations Diététicien(ne)</h2>

		<div class="row form-group">
			<label class="col-md-2 col-form-label">{{ 'workHours' | trans }}</label>
			<div class="col-md-10">{{ form_widget(form.patientDiet.workHours) }}</div>
			<div class="form_errors col-md-10 offset-md-2">{{ form_errors(form.patientDiet.workHours) }}</div>
		</div>

	{% endif %}

	<hr>

	<div class="row form-group">
		<div class="col-12">
			<div class="btn-group w-100">
				<a href="{{ path('patient_dashboard') }}" class="btn btn-form-cancellation w-30">
					{{ 'cancel' | trans }}
				</a>
				<input type="submit" class="btn btn-form-validation w-70" value="{{ 'validate' | trans }}" />
			</div>
		</div>
	</div>

	{{ form_end(form) }}


{% endif %}

{% if role == "manage" %}

	{{ form_start(form) }}
	{{ form_errors(form) }}
	{{dump(form)}}


	<div class="row form-group">
		<label class="col-md-2 col-form-label required">
			{{ 'firstname' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
		</label>
		<div class="col-md-10">{{ form_widget(form.firstname) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.firstname) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label required">
			{{ 'lastname' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
		</label>
		<div class="col-md-10">{{ form_widget(form.lastname) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.lastname) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'birthdate' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.birthdate) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.birthdate) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'email' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.email) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.email) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'phone' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.phone) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.phone) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'address' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.address) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.address) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'gender' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.gender) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.gender) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'pathology' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.pathology) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.pathology) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'origin' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.origin) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.origin) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'mobility' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.mobility) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.mobility) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'followUp' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.followUp) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.followUp) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'leftDate' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.leftDate) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.leftDate) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'imgLaw' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.imgLaw) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.imgLaw) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'job' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.job) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.job) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'situation' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.situation) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.situation) }}
		</div>
	</div>

	<div class="row form-group">
		<label class="col-md-2 col-form-label">
			{{ 'nbrChildren' | trans }}
		</label>
		<div class="col-md-10">{{ form_widget(form.nbrChildren) }}</div>
		<div class="form_errors col-md-10 offset-md-2">
			{{ form_errors(form.nbrChildren) }}
		</div>
	</div>


	<hr>

	<div class="row form-group">
		<div class="col-12">
			<div class="btn-group w-100">
				<a href="{{ path('patient_dashboard') }}" class="btn btn-form-cancellation w-30">
					{{ 'cancel' | trans }}
				</a>
				<input type="submit" class="btn btn-form-validation w-70" value="{{ 'validate' | trans }}" />
			</div>
		</div>
	</div>

	{{ form_end(form) }}


{% endif %}

