{# templates/backoffice/membership_indi/form.html.twig #}

{{ form_start(form) }}
{{ form_errors(form) }}

{# Add.Mode #}

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'date_creation' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.date_creation) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.date_creation) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'name' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.name) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.name) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'birthDate' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.birthDate) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.birthDate) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'address' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.address) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.address) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'mail' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.mail) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.mail) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'tel' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.tel) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.tel) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label ">
		{{ 'job' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.job) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.job) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label ">
		{{ 'imgLaw' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.imgLaw) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.imgLaw) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label ">
		{{ 'asso' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.member_of) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.member_of) }}
	</div>
</div>





<hr>

<div class="row form-group">
	<div class="col-12">
		<div class="btn-group w-100">
			<a href="{{ path('membership_indi_dashboard') }}" class="btn btn-form-cancellation w-30">
				{{ 'cancel' | trans }}
			</a>
			<input type="submit" class="btn btn-form-validation w-70" value="{{ 'validate' | trans }}" />
		</div>
	</div>
</div>

{{ form_end(form) }}
