{# templates/backoffice/membership_indi/table.html.twig #}

<div class="table-responsive">
	<table id="dt_membership_indis" class="table table-striped table-bordered table-hover width-99p">
		<thead class="thead-dark">
			<tr>
				<th>{{ 'date' | trans }} {{ 'Y/m/d' | trans }}</th>
				<th>{{ 'name' | trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for membership in membership_indi %}
				<tr>
					<td>{{ membership.dateCreation | date("Y/m/d") }}</td>
					<td>{{ membership.name }}</td>
					<td>
						<div class="{#width-75#} text-right">
							<a href="{{ path('membership_indi_view', {'id' : membership.id}) }}" class="btn btn-sm btn-view">
								<i class="far fa-eye"></i>
							</a>
							<a href="javascript:void(0);" class="btn btn-sm btn-delete"
								onclick="if(confirm('{{ 'confirm.delete' | trans }}')){window.location.href = '{{ path('membership_indi_delete', {'id' : membership.id}) }}'}">
								<i class="fas fa-times"></i>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
