{% extends 'backoffice/base/base.html.twig' %}

{% block body %}


<div class="membership__btns">
	<a href="{{ path('membership_indi_dashboard')}}">Retour</a>
	<a onclick="if(confirm('{{ 'confirm.delete' | trans }}')){window.location.href = '{{ path('membership_indi_delete', {'id' : membership_indi.id}) }}'}">Supprimer la demande</a>
</div>


<ul class="membership__uls">
	<li>
		<h3>{{'creation_date' | trans}} :</h3>
		<p>{{membership_indi.dateCreation | date("d/m/Y")}}</p>
	</li>
	<li>
		<h3>{{'name_indi' | trans }} :</h3>
		<p>{{membership_indi.name}}</p>
	</li>

	<li>
		<h3>{{'birthdate' | trans }} :</h3>
		<p>{{membership_indi.birthDate | date("d/m/Y")}}</p>
	</li>

	<li>
		<h3>{{'address_indi' | trans }} :</h3>
		<p>{{membership_indi.address}}</p>

	</li>

	<li>
		<h3>{{'mail' | trans}} :</h3>
		<p>{{membership_indi.mail}}</p>

	</li>

	<li>
		<h3>{{'tel' | trans}} :</h3>
		<p>{{membership_indi.tel}}</p>

	</li>

	<li>
		<h3>{{'job' | trans}} :</h3>
		<p>{{membership_indi.job}}</p>

	</li>

	<li>
		<h3>{{'imglaw' | trans}} :</h3>
		<p>{{membership_indi.imgLaw}}
	
	</li>

	<li>
		<h3>{{'asso_membership' | trans}} :</h3>
		<p>{{membership_indi.memberOf.name}}</p>

	</li>

</ul>

{% endblock %}