{# templates/backoffice/members_asso/form.html.twig #}

{{ form_start(form) }}
{{ form_errors(form) }}

{# Add.Mode #}



<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'name' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.name) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.name) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'description' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.description) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.description) }}
	</div>
</div>


<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'img' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.img) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.img) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'membership_date' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.membership_date) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.membership_date) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'payment' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.payment) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.payment) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'payment_date' | trans }}&nbsp<span class="text-danger"><strong>*</strong></span>
	</label>
	<div class="col-md-10">{{ form_widget(form.payment_date) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.payment_date) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'address' | trans }}
	</label>
	<div class="col-md-10">{{ form_widget(form.address) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.address) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'president_name' | trans }}
	</label>
	<div class="col-md-10">{{ form_widget(form.president_name) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.president_name) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'president_email' | trans }}
	</label>
	<div class="col-md-10">{{ form_widget(form.president_email) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.president_email) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'president_phone' | trans }}
	</label>
	<div class="col-md-10">{{ form_widget(form.president_phone) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.president_phone) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'contact_name' | trans }}
	</label>
	<div class="col-md-10">{{ form_widget(form.contact_name) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.contact_name) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'contact_job' | trans }}
	</label>
	<div class="col-md-10">{{ form_widget(form.contact_job) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.contact_job) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'contact_email' | trans }}
	</label>
	<div class="col-md-10">{{ form_widget(form.contact_email) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.contact_email) }}
	</div>
</div>

<div class="row form-group">
	<label class="col-md-2 col-form-label required">
		{{ 'contact_phone' | trans }}
	</label>
	<div class="col-md-10">{{ form_widget(form.contact_phone) }}</div>
	<div class="form_errors col-md-10 offset-md-2">
		{{ form_errors(form.contact_phone) }}
	</div>
</div>




<hr>

<div class="row form-group">
	<div class="col-12">
		<div class="btn-group w-100">
			<a href="{{ path('members_asso_dashboard') }}" class="btn btn-form-cancellation w-30">
				{{ 'cancel' | trans }}
			</a>
			<input type="submit" class="btn btn-form-validation w-70" value="{{ 'validate' | trans }}" />
		</div>
	</div>
</div>

{{ form_end(form) }}
