{# templates/backoffice/article/dashboard.html.twig #}

{% extends 'backoffice/base/base.html.twig' %}

{% block title %}{{ parent() }} - {{ 'article' | trans }}{% endblock %}

{% block body %}

<div class="row">
	<div class="col">

		<div class="card card-warning card-outline">

			<div class="card-header">
				<h3 class="card-title">{{ 'articles' | trans }}</h3>

				<div class="card-tools">

					<a href="{{ path('article_add') }}" class="btn btn-tool">
						<i class="fas fa-plus"></i>
					</a>

				</div>
			</div>

			<div class="card-body">
				<div class="row">
					<div class="col">
						{{ include('backoffice/article/table.html.twig') }}
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

{% endblock %}

{% block scripts %}

<script>
$(document).ready(function(){
	var colEventDate = 0;
	var colIsPublished = 1;
	var colTitle = 2;
	var colWeb = 3;
	var colFacebook = 4;
	var colAction = 5;

	var table = $('#dt_articles').DataTable({
		"paging" : true,
		"info" : true,
		"searching": true,
		"responsive": true,
		"pageLength": 100,
		"order": [[colEventDate, 'desc'], [colIsPublished, 'desc']],
		"columnDefs":[
			{ "targets": colIsPublished, "orderable": false },
			{ "targets": colWeb, "orderable": false },
			{ "targets": colFacebook, "orderable": false },
			{ "targets": colAction, "orderable": false }
		]
	});
});

function publishFacebook(id) {
	$.ajax({
	    type: "POST",
	    url: "{{ path('facebook_publish') }}",
	    data: {
			article_id: id
		}
	})
	.done(function(data){
		toastr.success('Succès', "{{ 'saved' | trans }}" );
		location.reload();

	})
	.fail(function()
	{
		toastr.error('Erreur', "{{ 'alert_error' | trans }}" );
	});
}

function unpublishFacebook(id) {
	$.ajax({
	    type: "POST",
	    url: "{{ path('facebook_unpublish') }}",
	    data: {
			article_id: id
		}
	})
	.done(function(data){
		toastr.success('Succès', "{{ 'saved' | trans }}" );
		location.reload();

	})
	.fail(function()
	{
		toastr.error('Erreur', "{{ 'alert_error' | trans }}" );
	});
}


function publishArticle(article_id)
{
	$.ajax({
	    type: "POST",
	    url: "{{ path('article_publish') }}",
	    data: {
			article_id: article_id
		}
	})
	.done(function(data){
		if (data.status == "Done")
		{
			toastr.success('Succès', "{{ 'saved' | trans }}" );
			location.reload();
		}
		else
		{
			toastr.error('Erreur', "{{ 'alert_error' | trans }}" );
		}
	})
	.fail(function()
	{
		toastr.error('Erreur', "{{ 'alert_error' | trans }}" );
	});
}

function unpublishArticle(article_id)
{
	$.ajax({
	    type: "POST",
	    url: "{{ path('article_unpublish') }}",
	    data: {
			article_id: article_id
		}
	})
	.done(function(data){
		if (data.status == "Done")
		{
			toastr.success('Succès', "{{ 'saved' | trans }}" );
			location.reload();
		}
		else
		{
			toastr.error('Erreur', "{{ 'alert_error' | trans }}" );
		}
	})
	.fail(function()
	{
		toastr.error('Erreur', "{{ 'alert_error' | trans }}" );
	});
}
</script>
{% endblock %}
