{# templates/backoffice/contact/table.html.twig #}

<div class="table-responsive">
	<table id="dt_contact" class="table table-striped table-bordered table-hover width-99p">
		<thead class="thead-dark">
			<tr>
				<th>{{ 'isDone?' | trans }}</th>
				<th>{{ 'date_creation' | trans }}</th>
				<th>{{ 'firstname' | trans }}</th>
				<th>{{ 'lastname' | trans }}</th>
				<th>{{ 'email' | trans }}</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for cont in contact %}
				<tr>
					{% if cont.done %}
					<td>{{ 'done' | trans }}</td>
					{% else %}
					<td>{{ 'to_do' | trans }}</td>
					{% endif %}
					<td>{{ cont.dateCreation | date("Y/m/d") }}</td>
					<td>{{ cont.firstname }}</td>
					<td>{{ cont.lastname }}</td>
					<td>{{ cont.email }}</td>
					<td>
						<div class="{#width-75#} text-right">
							{% if cont.done %}
								<a href="{{path('contact_unvalid', {'id' : cont.id})}}" class="btn btn-sm btn-edit">
									{{ 'unvalid' | trans }}
								</a>
							{% else %}
								<a href="{{path('contact_valid', {'id' : cont.id})}}" class="btn btn-sm btn-edit">
									{{ 'valid' | trans }}
								</a>
							{% endif %}
							<a href="{{ path('contact_view', {'id' : cont.id}) }}" class="btn btn-sm btn-view">
								<i class="far fa-eye"></i>
							</a>
							<a href="javascript:void(0);" class="btn btn-sm btn-delete"
								onclick="if(confirm('{{ 'confirm.delete' | trans }}')){window.location.href = '{{ path('contact_delete', {'id' : cont.id}) }}'}">
								<i class="fas fa-times"></i>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
